.header-esp{
    width: 100%;
    display: flex;
    /* border: 1px solid blue; */
    background: url('https://png.pngtree.com/thumb_back/fh260/background/20240522/pngtree-abstract-blurred-gradient-background-in-bright-rainbow-colors-colorful-rainbow-gradient-image_15684346.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ESP{
    color: #fff;
    padding: 20px 30px;
    /* width: 40%; */
    font-size: 24px;
    /* border: 1px solid red; */
}
.ESP > div{
    padding: 4px 4px;
    border: 2px solid #fff;
}

.PSE{
   padding: 12px 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color:#fff;
    font-size: 24px;
    /* border: 1px solid red; */
   

}

.btn-header{
    padding: 10px 18px;
    font-size: 18px;
    width: 150x;
    background-color: #fff;
    color: purple;
    border-radius: 20px;
}