.bg-intro{
    background-color: 	#ff320a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 360px;
}

.header-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px 20px;
    /* border: 1px solid red; */
    gap: 20px;
}

.nb{
    padding: 10px 10px;
    text-align: center;
    /* border: 1px solid red; */
    color: #fff;
}

.na{
    color: #fff;
    padding: 10px 10px;
    text-align: center;
    /* border: 1px solid red; */
}
.container-intro{
    /* border: 1px solid blue; */
    width: 600px;
}

.container-one{
    
    color: #fff;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid blue; */
    width: 100%;
}
.container-one > div {
    width: 300px;
    padding: 15px 30px;
    border: 2px solid #fff;
    text-align: center;
}
.container-two{
    display: flex;
    
    text-align: center;
    width: 100%;
    /* border: 1px solid black; */
}
.container-two > div{
    color: #fff;
    border: 2px solid #fff;
    padding: 16px 12px;
}

