*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button{
  background: blue;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

main{
  max-width: 1200px;
  min-height: 90vh;
  margin: auto;
  padding: 10px;
  border: 1px solid #000;
}